@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu-right-alt.css');

body {
    margin:0;
    font-family: 'Noto Serif Display', serif;
}

.vc-container{
	display:flex;
}

.firstblock {
    /* background: -webkit-linear-gradient(1deg, rgb(125, 130, 184), rgb(238, 238, 238));
	background: linear-gradient(1deg, rgb(125, 130, 184), rgb(238, 238, 238));
	height: auto; */
	width: 30vw;
	padding: 30px;
	box-sizing: border-box;
	color: white;
	font-size: 22px;
}

.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.middleblock {
    height: 100vh;
    width: 30vw;
	padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	
}

.middleblock img {
    border-radius: 500px;
	width: auto;
}

.lastblock{
	width: 40vw;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5vh;
	box-sizing: border-box;
	text-align: justify;
	color: #593d5c;
	font-size: 22px;
}

.menu {
	display: flex;
	justify-content: flex-end;
}

.menu i {
	font-size: 50px;
}

.content span {
	color:rgb(125, 130, 184)
}

.logo {
    width: 300px;
}


.b1{
	color: white;
	background-color:rgb(125, 130, 184);
	padding: 15px 20px;
	border-radius: 55px;
	border: none;
	margin-right: 20px;
}

.b2{
	color: black;
	padding: 15px 20px;
	background-color:white;
	border-radius: 55px;
	border: 2px solid black;
}

/* .purplethingy {
	background-color:rgb(125, 130, 184);
	height: 10%;
	width: 40%; */


.icons i {
	margin-right: 20px;
}
a{
	color: white;	
}

@media screen and (max-width:768px)
{
	.vc-container {
		background: -webkit-linear-gradient(1deg, #7d82b8, rgb(238, 238, 238));
		background: linear-gradient(1deg, rgb(125, 130, 184), rgb(238, 238, 238));
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;

	}

	.firstblock {
			height: auto;
			width: 60%;
			padding: 30px;
			box-sizing: border-box;
			color: white;
		}
	
	.middleblock {
		display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
	flex-direction: row;
	padding-left:0 ;
		/* display: flex;
    	height: auto;
    	width: 35vw;
    	justify-content: center; */
	}

	.lastblock {
		width: auto;
		height: auto;
		display: block;
		padding: 30px;
	}

	.middleblock img {
		
		text-align: center;
		width: 70vw;
		height: auto;
		border-radius: 30px;	
}
.logo {
	width: 250px;
	display: none;
	/* visibility: hidden; */
}

/* .logo1 {
	width: 250px;
} */
}

@media screen and (min-width: 769px) {
	.vc-container {
		display: flex;
	}
	.firstblock {
		background: -webkit-linear-gradient(1deg, rgb(125, 130, 184), rgb(238, 238, 238));
		background: linear-gradient(1deg, rgb(125, 130, 184), rgb(238, 238, 238));
	}

	.logo1 {
		display: none;
	}
} 