
.backgroundimg {
    background-image: url("pexels-alexander-grey-3713892.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    flex: 1;
    height: 100%;
}

.profile {
    size: 400px;
}

.logo {
    width: 300px;

}

body {
    margin: 0;
    font-family: 'Noto Serif Display', serif;
    background: linear-gradient(-76deg, rgb(229, 195, 209), rgb(125, 130, 184));

    
}

.profile {
    width: 500px;
}